.resumo-compra-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f3f3f3;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.book-summary {
  display: flex;
  gap: 20px;
  align-items: start;
}

.book-image {
  max-width: 300px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.book-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mat-form-field {
  width: 100%;
}

.quantidade-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.total-card {
  margin-top: 20px;
  background-color: #fff;
}

.total-container {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.total-container label {
  font-weight: bold;
}

.total-container .total {
  font-weight: bold;
  color: #00796b;
}

.button-container {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.address-container {
  margin-top: 20px;
}

.address-container h1 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.address-container .address-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
