/* Import Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Apply Poppins Font to the entire project */
body {
  font-family: 'Poppins', sans-serif;
}

.resumo-compra-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px solid #00796b;
}

.book-summary {
  display: flex;
  gap: 20px;
  align-items: start;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.book-image {
  max-width: 400px;
  height: 200px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.book-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
}

.detail-item {
  font-size: 14px;
  color: #555;
  margin: 0;
}

.detail-item p, .detail-item span {
  font-size: 14px;
  color: #000;
  font-weight: normal;
}

.price-container, .quantity-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-left: auto;
}

.price-container .price, .quantity-container .quantity, .total-value-container .total-value {
  font-size: 20px;
  color: #00796b;
  font-weight: bold;
}

.remove-button {
  background: no-repeat center center;
  background-size: cover;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  align-self: flex-start;
}

.total-card {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.total-label {
  color: #555;
  margin-right: 10px;
}

.total-value {
  color: #00796b;
}

.button-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-top: 20px;
}

.button-container button {
  padding: 10px 20px;
}

.address-container {
  margin-top: 20px;
  width: 100%;
}

.address-container h1 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px solid #00796b;
  margin-bottom: 20px;
}

.address-container .address-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.endereco-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 50px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: relative;
}

.endereco-item {
  display: flex;
  flex-direction: column;
}

.endereco-item mat-form-field {
  width: 100%;
}

.remove-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background: no-repeat center center;
  background-size: cover;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  color: red;
}

.button-address-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@media (max-width: 1200px) {
  .endereco-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .endereco-container {
    grid-template-columns: 1fr;
  }
}
