.resumo-compra-container {
  padding: 20px;
}

.book-summary {
  margin-top: 20px;
}

.book-image {
  max-width: 200px;
  height: auto;
  margin-right: 20px;
}

.book-details {
  flex: 1;
}

mat-form-field {
  width: 100%;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.quantidade-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.total-card {
  margin-top: 20px;
}

.total-container {
  font-size: 18px;
}

.total-container label {
  font-weight: bold;
  margin-right: 10px;
}

.total-container .total {
  font-weight: bold;
  color: #00796b;
}
