<div *ngIf="mensagens && mensagens.tipo != 0"
  role="alert" class="sd alert icon" id="msg_erro_sucesso_aviso"
  [ngClass]="{
    'success': mensagens.tipo === 1,
    'danger': mensagens.tipo === 2,
    'warning': mensagens.tipo === 3,
    }"
  (click)="resetMensagens()">
  <span *ngIf="mensagens.tipo === 1" class="fa fa-check-circle" aria-hidden="true"></span>
  <span *ngIf="mensagens.tipo === 2" class="fa fa-times-circle" aria-hidden="true"></span>
  <span *ngIf="mensagens.tipo === 3" class="fa fa-exclamation-circle" aria-hidden="true"></span>
  <div *ngFor="let mensagem of mensagens.mensagens">
    <strong *ngIf="mensagens.tipo === 1">Sucesso!</strong>
    <strong *ngIf="mensagens.tipo === 2">Erro!</strong>
    <strong *ngIf="mensagens.tipo === 3">Aviso!</strong>
      {{ mensagem }}
  </div>
  <script>
    document.documentElement.scrollTop;
  </script>
</div>
