<div *ngIf="livro" class="visualizar-livro-container">
    <div class="livro-detalhes">
      <div class="livro-imagem">
        <img [src]="API_URL + livro.isbn + '/downloadCapa'" alt="Capa do Livro" style="max-width: 200px; display: block; margin-bottom: 10px;">
      </div>
      <div class="livro-info">
        <h2>{{ livro.titulo }}</h2>
        <p><strong>Autor:</strong> {{ livro.autor }}</p>
        <p><strong>ISBN:</strong> {{ livro.isbn }}</p>
        <p><strong>Data de Publicação:</strong> {{ livro.dataPublicacao | date }}</p>
        <p><strong>Sinopse:</strong> {{ livro.sinopse }}</p>
        <p><strong>Preço Digital:</strong> {{ livro.precoDigital | currency:'BRL' }}</p>
        <p><strong>Preço Físico:</strong> {{ livro.precoFisico | currency:'BRL' }}</p>
        <div class="acoes">
          <button mat-raised-button color="primary">Adicionar ao Carrinho</button>
          <button mat-raised-button color="accent">Comprar Agora</button>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="avaliacoes">
      <h3>Avaliações</h3>
      <mat-card *ngFor="let avaliacao of avaliacoes" class="avaliacao-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <img mat-card-avatar [src]="avaliacao.avatarUrl" alt="Avatar" class="avatar-image">
          </div>
          <mat-card-title>{{ avaliacao.nome }}</mat-card-title>
          <mat-card-subtitle>{{ avaliacao.data | date }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{ avaliacao.comentario }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>REPLY</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  