<div class="container">
  <h2>Gerenciar Estoque</h2>
  <button mat-raised-button color="primary" routerLink="/cadastrar-livro">Cadastrar Livro</button>

  <mat-form-field class="example-form-field">
    <mat-label>Filtrar por Nome do Livro</mat-label>
    <input matInput (input)="applyFilter($event)" placeholder="Digite o nome do livro">
  </mat-form-field>

  <table mat-table [dataSource]="filteredLivros" class="mat-elevation-z8">
    <ng-container matColumnDef="titulo">
      <th mat-header-cell *matHeaderCellDef> Título </th>
      <td mat-cell *matCellDef="let livro"> {{livro.titulo}} </td>
    </ng-container>

    <ng-container matColumnDef="isbn">
      <th mat-header-cell *matHeaderCellDef> ISBN </th>
      <td mat-cell *matCellDef="let livro"> {{livro.isbn}} </td>
    </ng-container>

    <ng-container matColumnDef="autor">
      <th mat-header-cell *matHeaderCellDef> Autor </th>
      <td mat-cell *matCellDef="let livro"> {{livro.autor}} </td>
    </ng-container>

    <ng-container matColumnDef="precoFisico">
      <th mat-header-cell *matHeaderCellDef> Preço Fisico </th>
      <td mat-cell *matCellDef="let livro"> R$ {{ livro.precoFisico }} </td>
    </ng-container>

    <ng-container matColumnDef="precoDigital">
      <th mat-header-cell *matHeaderCellDef> Preço Digital </th>
      <td mat-cell *matCellDef="let livro"> R$ {{ livro.precoDigital }} </td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let livro">
        <button mat-button (click)="editarLivro(livro)">Editar</button>
        <button mat-button color="warn" (click)="removerLivro(livro)" title="Remover Livro">Remover</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageSizeOptions]="[10, 20, 50]" (page)="onPageChange($event)">
  </mat-paginator>
</div>
