<p>avaliacao-livro works!</p>
<div *ngFor="let livro of livros" class="livro-item">
    <h3>{{ livro.livroTitulo }}</h3>
    <p>ISBN: {{ livro.livroISBN }}</p>
    <p>Autor: {{ livro.livroAutor }}</p>
    <p>Avaliação: {{ livro.avaliar }}</p>
    <p>Comentário: {{ livro.comentario }}</p>
    <form (submit)="submitAvaliacao(livro, isbnInput.value)">
        <input type="number" min="1" max="5" [(ngModel)]="livro.avaliar" placeholder="Avaliação">
        <textarea [(ngModel)]="livro.comentario" placeholder="Comentário"></textarea>
        <input type="text" #isbnInput placeholder="ISBN">
        <button type="submit">Salvar Avaliação</button>
    </form>
</div>
