<div *ngIf="pedido" class="resumo-pedido-container">
  <h1 class="title">Resumo pedido</h1>

  <div class="book-summary" *ngIf="pedido.livro">
    <img [src]="pedido.livro.capaLivro" alt="Imagem do Livro" class="book-image" />

    <div class="book-details">
      <div class="detail-item">
        <h4>Autor:</h4>
        <p>{{ pedido.livro.autor }}</p>
      </div>

      <div class="detail-item">
        <h4>Título:</h4>
        <p>{{ pedido.livro.titulo }}</p>
      </div>

      <div class="detail-item">
        <h4>ISBN:</h4>
        <p>{{ pedido.livro.isbn }}</p>
      </div>
    </div>

    <div class="price-container">
      <div>
        <h4>Preço:</h4>
        <p class="price">R${{ pedido.livro.precoDigital }}</p>
      </div>
    </div>
  </div>

  <div class="total-card">
    <span class="total-label">Valor Total:</span>
    <span class="total-value">{{ total }}</span>
  </div>

  <div class="button-container">
    <button mat-stroked-button color="primary" (click)="voltar()">Voltar</button>
    <button mat-raised-button color="primary" (click)="realizarPagamento()">Realizar Pagamento</button>
  </div>

  <div class="address-container">
    <h1 class="title">Endereço Atual</h1>
    <div *ngFor="let endereco of pedido.endereco; let i = index" class="address-item">
      <mat-card class="endereco-container">
        <button mat-icon-button class="remove-button" (click)="removerEndereco(i)">
          <mat-icon>close</mat-icon>
        </button>
        <div class="endereco-item">
          <mat-form-field appearance="fill">
            <mat-label>Logradouro</mat-label>
            <input matInput [(ngModel)]="endereco.logradouro" />
          </mat-form-field>
        </div>
        <div class="endereco-item">
          <mat-form-field appearance="fill">
            <mat-label>Número</mat-label>
            <input matInput [(ngModel)]="endereco.numero" />
          </mat-form-field>
        </div>
        <div class="endereco-item">
          <mat-form-field appearance="fill">
            <mat-label>Cidade</mat-label>
            <input matInput [(ngModel)]="endereco.cidade" />
          </mat-form-field>
        </div>
        <div class="endereco-item">
          <mat-form-field appearance="fill">
            <mat-label>CEP</mat-label>
            <input matInput [(ngModel)]="endereco.cep" />
          </mat-form-field>
        </div>
        <div class="endereco-item">
          <mat-form-field appearance="fill">
            <mat-label>Complemento</mat-label>
            <input matInput [(ngModel)]="endereco.complemento" />
          </mat-form-field>
        </div>
        <div class="endereco-item">
          <mat-form-field appearance="fill">
            <mat-label>Estado</mat-label>
            <input matInput [(ngModel)]="endereco.estado" />
          </mat-form-field>
        </div>
      </mat-card>
    </div>
    <button class="button-address" mat-flat-button color="accent" (click)="adicionarNovoEndereco()">
      Adicionar Novo Endereço
    </button>
  </div>
</div>
