<mat-card class="endereco-container">
    <mat-form-field appearance="fill" class="endereco-item">
      <mat-label>Logradouro</mat-label>
      <input matInput [(ngModel)]="logradouro">
    </mat-form-field>
    <mat-form-field appearance="fill" class="endereco-item">
      <mat-label>Número</mat-label>
      <input matInput [(ngModel)]="numero">
    </mat-form-field>
    <mat-form-field appearance="fill" class="endereco-item">
      <mat-label>Cidade</mat-label>
      <input matInput [(ngModel)]="cidade">
    </mat-form-field>
    <mat-form-field appearance="fill" class="endereco-item">
      <mat-label>CEP</mat-label>
      <input matInput [(ngModel)]="cep">
    </mat-form-field>
    <mat-form-field appearance="fill" class="endereco-item">
      <mat-label>Complemento</mat-label>
      <input matInput [(ngModel)]="complemento">
    </mat-form-field>
    <mat-form-field appearance="fill" class="endereco-item">
      <mat-label>Estado</mat-label>
      <input matInput [(ngModel)]="estado">
    </mat-form-field>
  </mat-card>
  