<mat-card class="endereco-container">
    <button mat-icon-button class="remove-button" (click)="removerEndereco()">
      <mat-icon>close</mat-icon>
    </button>
    <div class="endereco-item">
      <mat-form-field appearance="fill">
        <mat-label>Logradouro</mat-label>
        <input matInput [(ngModel)]="logradouro" />
      </mat-form-field>
    </div>
    <div class="endereco-item">
      <mat-form-field appearance="fill">
        <mat-label>Número</mat-label>
        <input matInput [(ngModel)]="numero" />
      </mat-form-field>
    </div>
    <div class="endereco-item">
      <mat-form-field appearance="fill">
        <mat-label>Cidade</mat-label>
        <input matInput [(ngModel)]="cidade" />
      </mat-form-field>
    </div>
    <div class="endereco-item">
      <mat-form-field appearance="fill">
        <mat-label>CEP</mat-label>
        <input matInput [(ngModel)]="cep" />
      </mat-form-field>
    </div>
    <div class="endereco-item">
      <mat-form-field appearance="fill">
        <mat-label>Complemento</mat-label>
        <input matInput [(ngModel)]="complemento" />
      </mat-form-field>
    </div>
    <div class="endereco-item">
      <mat-form-field appearance="fill">
        <mat-label>Estado</mat-label>
        <input matInput [(ngModel)]="estado" />
      </mat-form-field>
    </div>
  </mat-card>
  